{
   'data_file' : './resources/basic2d.csv',
   'data_project_columns' : ['Y','A','B','Z'],
   'k' : 3,
   'cluster_atts' : ['Y','A','B','Z'],
   'plot_config' :
    {'output_file_prefix' : 'basic_clustering',
     'plots_configs': [
        {'plot_atts' : ['Y', 'A']},
        {'plot_atts' : ['Y', 'B']},
        {'plot_atts' : ['Y', 'Z']},
        {'plot_atts' : ['A', 'B']},
        {'plot_atts' : ['A', 'Z']},
         {'plot_atts' : ['B', 'Z']},
     ]
   }
}
