{
   'data_file' : './resources/coffee.csv',
   'data_project_columns' : ['A','B','C','D','E','F','G','H','I','J'],
   'k' : 5,
   'cluster_atts' : ['A','B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
   'plot_config' :
    {'output_file_prefix' : 'coffee',
     'plots_configs': [
        {'plot_atts' : ['D', 'E']},
        {'plot_atts' : ['D', 'F']},
        {'plot_atts' : ['D', 'G']},
     ]
   }
}
