{
   'data_file' : './resources/coffee.csv',
   'data_project_columns' : ['A','B','C','D','E','F','G','H','I','J'],
   'k' : 6,
   'cluster_atts' : ['A','B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
   'plot_config' :
    {'output_file_prefix' : 'coffee',
     'plots_configs': [
         {'plot_atts' : ['A', 'E']},
         {'plot_atts' : ['A', 'F']},
         {'plot_atts' : ['A', 'G']},
         {'plot_atts' : ['A', 'H']},
     ]
   }
}
